body{
    background-color: #fff;
}
.code-box{
    padding: 0 10px;
    height: 34px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    background-image: url("../images/yzm.gif");
    border: 0;
    border-radius: 5px;
    outline: none;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
 }
.code-box{
    position: relative;
}
.code-box p,
.code-box span{
    display:block;
    position: absolute;
    left: 0;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 5px;
}
.code-box span{
    width: 40px;
    background-color:#fff;
    font-size: 16px;
    cursor: pointer;
}
.code-box p{
    width: 0;
    background-color: #FFFF99;
    overflow: hidden;
    text-indent: -20px;
    transition: background 1s ease-in;
}
.code-box .code-input{
    display: none;
}
.registrat_header .w{
    overflow: hidden;
    padding: 20px 0;
    background-color: #fff;
}
.registrat_header .w .pull-right{
    padding-top: 30px;
}
/*bgm开始*/
.bgm{
    width: 1325px;
    height: 506px;
    margin:0 auto;
    overflow: hidden;
    background: url("../images/registrat_bgm.jpg") no-repeat;
}
.bgm .w{
    padding: 40px 0;
}
.registrat_form_box{
    width: 350px;
    height: 430px;
    float: right;;
    background-color: #fff;
    border-radius: 10px!important;
    padding-top: 10px;
}
.registrat_form_box form{
    width: 260px;
    height: 200px;
    margin:0 auto ;
    color: #c9c9c9;
}
.login_title{
    display: flex;
    margin-top: 30px;
}
.login_title >span{
    flex:1;
}
.hrs{
    height: 0;
    margin:auto 0;
    border: 1px solid #eaeaea;
}
.login_title .til{
    text-align: center;
    flex:2;
}
.choose > ul{
    width: 100%;
    display: flex;
    font-size: 12px;
}
.choose li{
    flex: 1;
    float: left;
    padding: 10px 0;
    text-align: center;
}
.choose li a{
    color: #c9c9c9;
    text-align: center;
}
.choose li a{
    margin:0 auto;
}
.choose li a >span{
    display: inline-block;
    width: 57px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    /*border-radius: 50%!important;*/
}
.choose li:hover a >span{
    transform: scale(1.05);
}
.cgs_logoImg{
    background: url("../images/caishang_01.png") no-repeat center center;
}
.gys_logoImg{
    background: url("../images/gongyingsahng_01.png") no-repeat center center;
}
.jds_logoImg{
    background: url("../images/jidishang_01.png") no-repeat center center;
}
.choose li.active a .cgs_logoImg{
    background: url("../images/caishang_02.png") no-repeat center center;
}
.choose li.active a .gys_logoImg{
    background: url("../images/gongyingsahng_02.png") no-repeat center center;
}
.choose li.active a .jds_logoImg{
    background: url("../images/jidishang_02.png") no-repeat center center;
}
.myIs em{
    position: absolute;
    top: 32%;
    right: -4px;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #f4f4f4;
    transform: rotate(45deg);
}
.registrat_form_box .form-group{
    margin-bottom: 15px;
}
.registrat_form_box .form-group input{
    width: 100%;
    height: 40px;
    border-radius: 4px!important;
    background-color: #f4f4f4;
    border: 1px solid #dddddd;
}
.registrat_form_box .form-group input.yanzhengma{
    width: 150px;
    height: 40px;
    float: left;
    border: 1px solid #dddddd;
}

.submit_btn{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px!important;
    border: 1px solid #008842;
    background-color: #008842;
}
.forget_psw_box{
    overflow: hidden;
}
.forget_psw{
    border-bottom: 1px solid #d0d0d0;
}
.account_number{
    text-align: center;
    color: #ff7901;
    font-size: 14px;
    /*padding-top:15px;*/
}
.account_number:hover,.account_number:focus,.account_number:active,.account_number.active{
    color: #ff7901;
}
/*bgm结束*/