body{
    background-color: #fff;
}
.registrat_header .w{
    overflow: hidden;
    padding: 20px 0;
}
.registrat_header .w .pull-right{
    padding-top: 30px;
}
/*bgm开始*/
.bgm{
    width: 1325px;
    height: 506px;
    margin:0 auto;
    overflow: hidden;
    background: url("../images/registrat_bgm.jpg") no-repeat;
}
.bgm .w{
    padding: 40px 0;
}
.registrat_form_box{
    width: 350px;
    height: 430px;
    float: right;;
    background-color: #fff;
    border-radius: 10px!important;
    padding-top: 10px;
}
.registrat_form_box form{
    width: 260px;
    height: 200px;
    margin:0 auto ;
    color: #c9c9c9;
}
.choose > ul{
    width: 100%;
    display: flex;
    font-size: 12px;
}
.choose li{
    flex: 1;
    float: left;
    padding: 10px 0;
    text-align: center;
}
.choose li a{
    color: #c9c9c9;
    text-align: center;
}
.choose li a{
    margin:0 auto;
}
.choose li a >span{
    display: inline-block;
    width: 57px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    /*border-radius: 50%!important;*/
}
.choose li:hover a >span{
    transform: scale(1.05);
}
.cgs_logoImg{
    background: url("../images/caishang_01.png") no-repeat center center;
}
.gys_logoImg{
    background: url("../images/gongyingsahng_01.png") no-repeat center center;
}
.jds_logoImg{
    background: url("../images/jidishang_01.png") no-repeat center center;
}
.choose li.active a .cgs_logoImg{
    background: url("../images/caishang_02.png") no-repeat center center;
}
.choose li.active a .gys_logoImg{
    background: url("../images/gongyingsahng_02.png") no-repeat center center;
}
.choose li.active a .jds_logoImg{
    background: url("../images/jidishang_02.png") no-repeat center center;
}
.myIs{
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #008842;
    margin-top: 8px;
    position: relative;
    background-color: #f4f4f4;
}
.myIs em{
    position: absolute;
    top: 32%;
    right: -4px;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #f4f4f4;
    transform: rotate(45deg);
}
.registrat_form_box .form-group{
    margin-bottom: 20px;
}
.registrat_form_box .form-group input{
    width: 100%;
    height: 40px;
    border-radius: 4px!important;
    background-color: #f4f4f4;
    border: 1px solid #dddddd;
}
.registrat_form_box .form-group input.yanzhengma{
    width: 100px;
    height: 40px;
    float: left;
    border: 1px solid #dddddd;
}
.passwordInput{
    position: relative;
}
.pwdHide,.pwdShow{
    cursor: pointer;
    width: 20px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0,-50%);
}
.yzm_box{
    overflow: hidden;
}
.get_yzma{
    width: 150px;
    height: 40px;
    float: left;
    color: #fff;
    font-size: 12px;
    border-radius: 4px!important;
    border: 1px solid #ff9b0d;
    margin-left: 10px;
    background-color: #ff9b0d;

}
.gray-bg{
    background-color:grey;
}
.submit_btn{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px!important;
    border: 1px solid #008842;
    background-color: #008842;
}
.chbox + label:before{
    position: absolute;
    top: 4px;
    left: 3px;
    display: inline-block;
    width: 14px;
    height: 14px;
    content: '';
    border: 1px solid #999999;
}
.chbox:checked + label:before{
    border: 1px solid #999999;
    background: #fff;
}
.chbox + label:after{
    top: 3px;
    left: 8px;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #008842;
    border-top: 0;
    border-left: 0;
}
.chbox:checked + label:after, .chbox:checked + label:after{
    display: block;
}
.xieyi{
    font-size: 14px;
    overflow: hidden;
}
.xieyi> label {

    float: left;

}
.xieyi_lk,.xieyi_lk:hover,.xieyi_lk:focus,.xieyi_lk.active{
    color: #ff0000;
    float: left;
    border-bottom: 1px solid #ffc8c8;
}
.account_numbers{
    text-align: center;
    color: #000;
    font-size: 14px;
}
.account_numbers a {
    color: #ff7901;
}
/*bgm结束*/
/*模拟框开始*/
.posi{
    width: 560px;
    height: 325px;
    margin: 210px auto !important;
}
.m-header{
    border-bottom:none;
}
button.cloesdBtn,button.cloesdBtn:hover,button.cloesdBtn:focus,button.cloesdBtn:active,button.cloesdBtn:active{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%!important;
    text-align: center;
    background: #e0e0e0;
    opacity:1;
    color: #fff;
}
.m-body{
    text-align: center;
    padding-bottom: 40px;
    font-size: 22px;
}
.m-body > img{
    margin-bottom: 30px;
}
.current-state{
    padding-top: 28px;
    font-size: 16px;
    text-align: center;
}
.current-state > em{
    color: #008842;
}
.foter{
    border-top:none;
    text-align: center;
}
.btns,.btns:hover,.btns:focus,.btns:active{
    width: 160px;
    height: 45px;
    color: #cfcfcf;
    font-size: 16px;
    border: 1px solid #f2f2f2;
    background-color: #fff;
    border-radius: 5px!important;
}
.btns.active{
    color: #fff;
    background-color: #008842;
}

/*.zhaohuoping,.zhaohuoping:hover,.zhaohuoping:focus,.zhaohuoping:active,.zhaohuoping.active{*/
    /*width: 160px;*/
    /*height: 45px;*/
    /*color: #fff;*/
    /*font-size: 16px;*/
    /*background-color: #008842;*/
/*}*/
/*模拟框结束*/