<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yukun.mapper.LdwAlipayParamsMapper" >
  <resultMap id="BaseResultMap" type="com.yukun.pojo.LdwAlipayParams" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="notify_time" property="notifyTime" jdbcType="TIMESTAMP" />
    <result column="notify_type" property="notifyType" jdbcType="VARCHAR" />
    <result column="notify_id" property="notifyId" jdbcType="VARCHAR" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="payment_type" property="paymentType" jdbcType="VARCHAR" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="trade_status" property="tradeStatus" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="VARCHAR" />
    <result column="seller_email" property="sellerEmail" jdbcType="VARCHAR" />
    <result column="buyer_id" property="buyerId" jdbcType="VARCHAR" />
    <result column="buyer_email" property="buyerEmail" jdbcType="VARCHAR" />
    <result column="total_fee" property="totalFee" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="body" property="body" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_payment" property="gmtPayment" jdbcType="TIMESTAMP" />
    <result column="is_total_fee_adjust" property="isTotalFeeAdjust" jdbcType="VARCHAR" />
    <result column="use_coupon" property="useCoupon" jdbcType="VARCHAR" />
    <result column="discount" property="discount" jdbcType="VARCHAR" />
    <result column="refund_status" property="refundStatus" jdbcType="VARCHAR" />
    <result column="gmt_refund" property="gmtRefund" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, out_trade_no, notify_time, notify_type, notify_id, subject, payment_type, trade_no, 
    trade_status, seller_id, seller_email, buyer_id, buyer_email, total_fee, quantity, 
    price, body, gmt_create, gmt_payment, is_total_fee_adjust, use_coupon, discount, 
    refund_status, gmt_refund
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yukun.pojo.LdwAlipayParamsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ldw_alipay_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yukun.pojo.LdwAlipayParamsKey" >
    select 
    <include refid="Base_Column_List" />
    from ldw_alipay_params
    where id = #{id,jdbcType=BIGINT}
      and out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.yukun.pojo.LdwAlipayParamsKey" >
    delete from ldw_alipay_params
    where id = #{id,jdbcType=BIGINT}
      and out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yukun.pojo.LdwAlipayParamsExample" >
    delete from ldw_alipay_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yukun.pojo.LdwAlipayParams" >
    insert into ldw_alipay_params (id, out_trade_no, notify_time, 
      notify_type, notify_id, subject, 
      payment_type, trade_no, trade_status, 
      seller_id, seller_email, buyer_id, 
      buyer_email, total_fee, quantity, 
      price, body, gmt_create, 
      gmt_payment, is_total_fee_adjust, use_coupon, 
      discount, refund_status, gmt_refund
      )
    values (#{id,jdbcType=BIGINT}, #{outTradeNo,jdbcType=VARCHAR}, #{notifyTime,jdbcType=TIMESTAMP}, 
      #{notifyType,jdbcType=VARCHAR}, #{notifyId,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, 
      #{paymentType,jdbcType=VARCHAR}, #{tradeNo,jdbcType=VARCHAR}, #{tradeStatus,jdbcType=VARCHAR}, 
      #{sellerId,jdbcType=VARCHAR}, #{sellerEmail,jdbcType=VARCHAR}, #{buyerId,jdbcType=VARCHAR}, 
      #{buyerEmail,jdbcType=VARCHAR}, #{totalFee,jdbcType=VARCHAR}, #{quantity,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtPayment,jdbcType=TIMESTAMP}, #{isTotalFeeAdjust,jdbcType=VARCHAR}, #{useCoupon,jdbcType=VARCHAR}, 
      #{discount,jdbcType=VARCHAR}, #{refundStatus,jdbcType=VARCHAR}, #{gmtRefund,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yukun.pojo.LdwAlipayParams" >
    insert into ldw_alipay_params
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="notifyTime != null" >
        notify_time,
      </if>
      <if test="notifyType != null" >
        notify_type,
      </if>
      <if test="notifyId != null" >
        notify_id,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="tradeNo != null" >
        trade_no,
      </if>
      <if test="tradeStatus != null" >
        trade_status,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="sellerEmail != null" >
        seller_email,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="buyerEmail != null" >
        buyer_email,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="body != null" >
        body,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtPayment != null" >
        gmt_payment,
      </if>
      <if test="isTotalFeeAdjust != null" >
        is_total_fee_adjust,
      </if>
      <if test="useCoupon != null" >
        use_coupon,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="refundStatus != null" >
        refund_status,
      </if>
      <if test="gmtRefund != null" >
        gmt_refund,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="notifyTime != null" >
        #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyType != null" >
        #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="notifyId != null" >
        #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="sellerEmail != null" >
        #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="buyerEmail != null" >
        #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtPayment != null" >
        #{gmtPayment,jdbcType=TIMESTAMP},
      </if>
      <if test="isTotalFeeAdjust != null" >
        #{isTotalFeeAdjust,jdbcType=VARCHAR},
      </if>
      <if test="useCoupon != null" >
        #{useCoupon,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=VARCHAR},
      </if>
      <if test="refundStatus != null" >
        #{refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="gmtRefund != null" >
        #{gmtRefund,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yukun.pojo.LdwAlipayParamsExample" resultType="java.lang.Integer" >
    select count(*) from ldw_alipay_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ldw_alipay_params
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.outTradeNo != null" >
        out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyTime != null" >
        notify_time = #{record.notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.notifyType != null" >
        notify_type = #{record.notifyType,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyId != null" >
        notify_id = #{record.notifyId,jdbcType=VARCHAR},
      </if>
      <if test="record.subject != null" >
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentType != null" >
        payment_type = #{record.paymentType,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeNo != null" >
        trade_no = #{record.tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeStatus != null" >
        trade_status = #{record.tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerId != null" >
        seller_id = #{record.sellerId,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerEmail != null" >
        seller_email = #{record.sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerId != null" >
        buyer_id = #{record.buyerId,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerEmail != null" >
        buyer_email = #{record.buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.totalFee != null" >
        total_fee = #{record.totalFee,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.body != null" >
        body = #{record.body,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtPayment != null" >
        gmt_payment = #{record.gmtPayment,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isTotalFeeAdjust != null" >
        is_total_fee_adjust = #{record.isTotalFeeAdjust,jdbcType=VARCHAR},
      </if>
      <if test="record.useCoupon != null" >
        use_coupon = #{record.useCoupon,jdbcType=VARCHAR},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=VARCHAR},
      </if>
      <if test="record.refundStatus != null" >
        refund_status = #{record.refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtRefund != null" >
        gmt_refund = #{record.gmtRefund,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ldw_alipay_params
    set id = #{record.id,jdbcType=BIGINT},
      out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      notify_time = #{record.notifyTime,jdbcType=TIMESTAMP},
      notify_type = #{record.notifyType,jdbcType=VARCHAR},
      notify_id = #{record.notifyId,jdbcType=VARCHAR},
      subject = #{record.subject,jdbcType=VARCHAR},
      payment_type = #{record.paymentType,jdbcType=VARCHAR},
      trade_no = #{record.tradeNo,jdbcType=VARCHAR},
      trade_status = #{record.tradeStatus,jdbcType=VARCHAR},
      seller_id = #{record.sellerId,jdbcType=VARCHAR},
      seller_email = #{record.sellerEmail,jdbcType=VARCHAR},
      buyer_id = #{record.buyerId,jdbcType=VARCHAR},
      buyer_email = #{record.buyerEmail,jdbcType=VARCHAR},
      total_fee = #{record.totalFee,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      body = #{record.body,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_payment = #{record.gmtPayment,jdbcType=TIMESTAMP},
      is_total_fee_adjust = #{record.isTotalFeeAdjust,jdbcType=VARCHAR},
      use_coupon = #{record.useCoupon,jdbcType=VARCHAR},
      discount = #{record.discount,jdbcType=VARCHAR},
      refund_status = #{record.refundStatus,jdbcType=VARCHAR},
      gmt_refund = #{record.gmtRefund,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yukun.pojo.LdwAlipayParams" >
    update ldw_alipay_params
    <set >
      <if test="notifyTime != null" >
        notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyType != null" >
        notify_type = #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="notifyId != null" >
        notify_id = #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        trade_status = #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="sellerEmail != null" >
        seller_email = #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="buyerEmail != null" >
        buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        total_fee = #{totalFee,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtPayment != null" >
        gmt_payment = #{gmtPayment,jdbcType=TIMESTAMP},
      </if>
      <if test="isTotalFeeAdjust != null" >
        is_total_fee_adjust = #{isTotalFeeAdjust,jdbcType=VARCHAR},
      </if>
      <if test="useCoupon != null" >
        use_coupon = #{useCoupon,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=VARCHAR},
      </if>
      <if test="refundStatus != null" >
        refund_status = #{refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="gmtRefund != null" >
        gmt_refund = #{gmtRefund,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yukun.pojo.LdwAlipayParams" >
    update ldw_alipay_params
    set notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      notify_type = #{notifyType,jdbcType=VARCHAR},
      notify_id = #{notifyId,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      payment_type = #{paymentType,jdbcType=VARCHAR},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      trade_status = #{tradeStatus,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=VARCHAR},
      seller_email = #{sellerEmail,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      total_fee = #{totalFee,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      body = #{body,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_payment = #{gmtPayment,jdbcType=TIMESTAMP},
      is_total_fee_adjust = #{isTotalFeeAdjust,jdbcType=VARCHAR},
      use_coupon = #{useCoupon,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=VARCHAR},
      refund_status = #{refundStatus,jdbcType=VARCHAR},
      gmt_refund = #{gmtRefund,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
      and out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </update>
</mapper>