<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yukun.mapper.LdwCertificateTypeMapper" >
  <resultMap id="BaseResultMap" type="com.yukun.pojo.LdwCertificateType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="certificate_type_name" property="certificateTypeName" jdbcType="VARCHAR" />
    <result column="area_level" property="areaLevel" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="first_id" property="firstId" jdbcType="BIGINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="certificate_type_logo" property="certificateTypeLogo" jdbcType="VARCHAR" />
    <result column="is_have_child" property="isHaveChild" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, certificate_type_name, area_level, parent_id, first_id, create_user_id, update_user_id, 
    create_date, update_date, is_delete, certificate_type_logo, is_have_child
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yukun.pojo.LdwCertificateTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ldw_certificate_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ldw_certificate_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ldw_certificate_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yukun.pojo.LdwCertificateTypeExample" >
    delete from ldw_certificate_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yukun.pojo.LdwCertificateType" >
    insert into ldw_certificate_type (id, certificate_type_name, area_level, 
      parent_id, first_id, create_user_id, 
      update_user_id, create_date, update_date, 
      is_delete, certificate_type_logo, is_have_child
      )
    values (#{id,jdbcType=BIGINT}, #{certificateTypeName,jdbcType=VARCHAR}, #{areaLevel,jdbcType=INTEGER}, 
      #{parentId,jdbcType=BIGINT}, #{firstId,jdbcType=BIGINT}, #{createUserId,jdbcType=BIGINT}, 
      #{updateUserId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=TINYINT}, #{certificateTypeLogo,jdbcType=VARCHAR}, #{isHaveChild,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yukun.pojo.LdwCertificateType" >
    insert into ldw_certificate_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="certificateTypeName != null" >
        certificate_type_name,
      </if>
      <if test="areaLevel != null" >
        area_level,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="firstId != null" >
        first_id,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="certificateTypeLogo != null" >
        certificate_type_logo,
      </if>
      <if test="isHaveChild != null" >
        is_have_child,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="certificateTypeName != null" >
        #{certificateTypeName,jdbcType=VARCHAR},
      </if>
      <if test="areaLevel != null" >
        #{areaLevel,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="firstId != null" >
        #{firstId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="certificateTypeLogo != null" >
        #{certificateTypeLogo,jdbcType=VARCHAR},
      </if>
      <if test="isHaveChild != null" >
        #{isHaveChild,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yukun.pojo.LdwCertificateTypeExample" resultType="java.lang.Integer" >
    select count(*) from ldw_certificate_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ldw_certificate_type
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.certificateTypeName != null" >
        certificate_type_name = #{record.certificateTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.areaLevel != null" >
        area_level = #{record.areaLevel,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.firstId != null" >
        first_id = #{record.firstId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.certificateTypeLogo != null" >
        certificate_type_logo = #{record.certificateTypeLogo,jdbcType=VARCHAR},
      </if>
      <if test="record.isHaveChild != null" >
        is_have_child = #{record.isHaveChild,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ldw_certificate_type
    set id = #{record.id,jdbcType=BIGINT},
      certificate_type_name = #{record.certificateTypeName,jdbcType=VARCHAR},
      area_level = #{record.areaLevel,jdbcType=INTEGER},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      first_id = #{record.firstId,jdbcType=BIGINT},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      certificate_type_logo = #{record.certificateTypeLogo,jdbcType=VARCHAR},
      is_have_child = #{record.isHaveChild,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yukun.pojo.LdwCertificateType" >
    update ldw_certificate_type
    <set >
      <if test="certificateTypeName != null" >
        certificate_type_name = #{certificateTypeName,jdbcType=VARCHAR},
      </if>
      <if test="areaLevel != null" >
        area_level = #{areaLevel,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="firstId != null" >
        first_id = #{firstId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="certificateTypeLogo != null" >
        certificate_type_logo = #{certificateTypeLogo,jdbcType=VARCHAR},
      </if>
      <if test="isHaveChild != null" >
        is_have_child = #{isHaveChild,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yukun.pojo.LdwCertificateType" >
    update ldw_certificate_type
    set certificate_type_name = #{certificateTypeName,jdbcType=VARCHAR},
      area_level = #{areaLevel,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=BIGINT},
      first_id = #{firstId,jdbcType=BIGINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT},
      certificate_type_logo = #{certificateTypeLogo,jdbcType=VARCHAR},
      is_have_child = #{isHaveChild,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>